.styled-table {
    border-collapse: collapse;
    /* margin: 25px 0; */
    margin: 0 auto;
    margin-block: 50px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #4b84fe;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #4b84fe;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #4b84fe;
}


/* td.accept {
    background-color: green;
    color: white;
}
  

td.reject {
    background-color: red;
    color: white;
} */

.button {
    line-height: 1;
    display: inline-block;
    /* font-size: 1.2rem; */
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    padding: 8px;
}

td.accept .button {
    background-color: lightgreen;
    font-weight: bold;
}
  
td.reject .button {
    background-color: lightcoral;
    font-weight: bold;
}

td.pending .button {
    background-color: yellow;
    font-weight: bold;
}