.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.container .contents{
    margin: 0; 
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    width: 700px;
    min-height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.details h3{
    padding-right: 10px;
}